.tasks {
    padding: 20px;
    padding-left: 40px;
}
.tasks li {
    position: relative;
}

.form-control {
    width: 465px;
    margin-bottom: 15px;
}
.button {
    font: 2em Arial,sans-serif;
}

.item {
    background-color: #eee;
    border-radius: 5px;
    padding: 4px 10px;
    margin-top: 10px;
}
.play{
    width: 100px;
    height: 100px;
    background-color: #369;
    border-radius: 100px;
    position: absolute;
    top: 120px;
    left: 0;
    transition: left 5s cubic-bezier(0, 0, 1, 1);
}

.alert {
    position: relative;
    width: 450px;
    right: 20px;
    margin-bottom: 10px;
    animation: reveal 1 1.2s;
    z-index: 1;
}

.closed {
    transform: translate(0px, -60px);
    transition: 0.7s;
    z-index: 0;
}

#alert-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 10px 0 0;
}

@keyframes fadeOut{
	0%{
		-webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 3s ease-in-out;
        -o-transition: opacity 3s ease-in-out;
         opacity: 1;
	}
	
	100%{
		-webkit-transition: opacity 3s ease-in-out;
        -moz-transition: opacity 3s ease-in-out;
        -ms-transition: opacity 3s ease-in-out;
        -o-transition: opacity 3s ease-in-out;
         opacity: 0;
	}
}

@keyframes reveal{
	0%{
		transform: translate(0px, -60px);
	}
	
	100%{
		transform: translate(0px, 0px);
	}
}


.box {
    height: 400px;
    background-color: #e1e2e3;
    border-color: #000;
    position: relative;
}
.dragable {
    position: absolute;
    width: 50px;
    height: 50px;            
    cursor: pointer;
    z-index: 1;
}
.red {
    background-color: #f00;
}
.green {
    background-color: #0b0;
}
.blue {
    background-color: #00f;
}
.purple {
    background-color: #874de4;
}
.move {
    cursor: move;
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
}
